* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}
